<div>
  <span class="title">Denna Grey</span>
  <span><a routerLink="/">Home</a></span>
  <span><a routerLink="/gallery">Gallery</a></span>
  <span
    ><a
      href="http://discord.dennagrey.com"
      target="_blank"
      rel="noopener noreferrer"
      >Discord</a
    ></span
  >
  <span><a
    href="https://twitch.tv/dennagrey"
    target="_blank"
    rel="noopener noreferrer"
    >Twitch</a
  ></span>
  <span><a
    href="https://twitter.com/greydenna"
    target="_blank"
    rel="noopener noreferrer"
    >Twitter</a
  ></span>
</div>
